body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: calc(50% - 40px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: inherit;
}

.date-input, .time-input {
    padding-left: 40px;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: inherit;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: translateY(1px);
}

#result {
    font-size: 18px;
    text-align: center;
    color: #333;
}

.icon-large {
    font-size: 27px;
    color: #333;
    transition: color 0.3s ease;
    margin-right: 7px;
}

.icon-large:hover {
    color: #666;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: green;
}
